<div class="container-fluid page">
    <div class="d-flex page__box p-3 mt-2">اضافة صنف جديد</div>
    <div class="page__content shadow p-3 position-relative">
      
    
      <div class="row">
        <div class="col-4">
          <img [src]="url" class="img-thumbnail" style="height: 300px ; width: 300px; padding: 40px;; " alt="...">

             <!-- upload imege -->
              <input type="file" (change)="onselectFile($event)" name="image_uploads" accept="image/png, .jpeg, .jpg, image/gif" style="font-size: x-small; ">


              <!-- upload imege -->

           
         </div> 
          

         <div class="col-8">
          <br>
          <div>
          <label >اسم الصنف</label>
          <input type="text" class="form-control" dir="rtl" >
        </div><br>
        <div class="row g-2">
          <div class="col-md">
            <div>
              <label>السعر</label>
              <input type="text" class="form-control"  dir="rtl">
            </div>
          </div>
          <div class="col-md">
            <div>
              <label style="padding:left=30px;">الكميه</label>
              <input type="text" class="form-control" dir="rtl" >
            </div>
          </div>
        </div>
        </div>
        <div class="input-group">
          <textarea class="form-control" aria-label="With textarea" dir="rtl"></textarea>
          <span class="input-group-text"><h1>وصف المنتج</h1></span>
        </div>
        



        </div><br>
       

            

              <div class="d-grid gap-2 col-4 mx-auto">
               
                <button class="btn btn-primary" type="button" ><h1>تعديل منتج</h1></button>
              </div>
            




    </div>
  </div>
  